.panel.panel-default
  .panel-heading
    .row
      .pull-left.col-md-10
        User
      .col-md-2
        Roles
  .panel-body
    - @users.each do |user|
      .row.well-sm
        .col-md-10
          = user.name
        .col-md-2
          = user.roles.join(", ")

= paginate @users, :theme => 'twitter-bootstrap-3'
